html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@property --animationEndColor {
  syntax: '<color>';
  inherits: false;
  initial-value: #DDDDDD;
}

@property --animationStartColor {
  syntax: '<color>';
  inherits: false;
  initial-value: #FFFFFF;
}

@property --animatedColor {
  syntax: '<color>';
  inherits: false;
  initial-value: #FFFFFF;
}

@keyframes color {
  0% {
    --animatedColor: var(--animationStartColor);
  }
  50% {
    --animatedColor: var(--animationEndColor);
  }
  100 {
  --animatedColor: var(--animationStartColor);
  }
}
